
.Categories-tiles{
  width: 300px;
  height: 300px;
  margin: 2%;
  padding: auto;
  font-size: 25px;
  transition-timing-function: ease-in-out;
}
.Categories-tiles:hover,.Categories-tiles:focus{
  transform: scale(1.05);
  color: black;
}
.tile1{
  background-color: rgb(45, 71, 24);
  border-color:rgb(45, 71, 24);
}
.tile2{
  background-color: rgb(60, 96, 31);
  border-color: rgb(60, 96, 31);
}
.tile3{
  background-color: rgb(60, 96, 31);
  border-color:rgb(60, 96, 31);
}
.tile4{
  background-color:rgb(84, 135, 44) ;
  border-color: rgb(84, 135, 44) ;
}
.tile5{
  background-color:rgb(107, 174, 56) ;
  border-color:rgb(107, 174, 56) ;
}
.tile6{
  background-color:rgb(133, 199, 81);
  border-color:rgb(133, 199, 81);
}

.tile1:hover, .tile1:focus{
  background-color: rgb(45, 71, 24);
  border-color: rgb(45, 71, 24);
}
.tile2:hover,.tile2:focus{
  background-color: rgb(60, 96, 31);
  border-color: rgb(60, 96, 31);
}
.tile3:hover,.tile3:focus{
  background-color: rgb(60, 96, 31);
  border-color: rgb(60, 96, 31) ;
}
.tile4:hover,.tile4:focus{
  background-color:rgb(84, 135, 44) ;
  border-color: rgb(84, 135, 44) ;
}
.tile5:hover,.tile5:focus{
  background-color:rgb(107, 174, 56) ;
  border-color:rgb(107, 174, 56) ;
}
.tile6:hover,.tile6:focus{
  background-color:rgb(133, 199, 81);
  border-color:rgb(133, 199, 81);
}

.Categories-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 8% auto;
}
.Categories-container-header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 30%;
  margin: 8% 0;
 
}
h2{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 6em;
    position: absolute;
    top: 90%;
    transform: rotate(180deg);
}