.navbar-logo {
    height: 60px;
    width: 52px;
    background: url("logo.png");
    background-size: cover;
    margin: 0 20px;
}

.navbar-user-container-avatar {
    font-size: 20px;
    padding-right: 10px;
}

.navbar-title {
    margin-right: 10px;
    color: #7ac242;
}
.sticky{
    z-index: 10;
}
@media screen and (max-width: 615px)
{
   .navbar-title{
       display: hidden;
   }
}